<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAc_3waZeXiXfWyMzJbN_Jk-w5SfiHIpjA</string>
	<key>GCM_SENDER_ID</key>
	<string>877617356828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.efrchat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>efchat-50527</string>
	<key>STORAGE_BUCKET</key>
	<string>efchat-50527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877617356828:ios:e4a9bd980787633f8effd9</string>
</dict>
</plist>